:root {
  --FS-head: 'Fs Me Heavy';
  --FS: 'Fs Me';
  --FS-Light: 'fs light'
}
/* General Reset */
*{
  margin: 0px;
  padding: 0px;
  font-family: var(--FS);
 }
body{
  background-color: #EDEDED;
}
.contant1{
  margin: 40px;
  text-align: left;
  float: left;
}
.contant-subtitle{
  margin: 12px;
  color: #000000;
  opacity: 0.6;
}

.contant-title{
  margin: 12px;
  font-size: 54px;
  font-family: var(--FS-head);
}
.contant-description{
  margin: 12px;
  color: #000000;
  opacity: 0.6;
}
.explore-button{
  margin: 12px;
  background-color: #3EADAE;
  padding: auto;
  opacity: 100px;
  color: antiquewhite;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #83e1e2; 
}

.himg{
height: 488.93px;
width: 488.93px;
}
.contant2{
  float: right;
  text-align: right;
  
}
.contant{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  background-image: url('./bg1.jpg'); /* Replace with your image URL */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  height: 100vh; /* Full viewport height */
  /* width: 100%; Full width */
}


/* who we are section */

.who-we-are-main{
  width: 100%;
  background-color: #3EADAE;
  padding: 300px 0px 75px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.sub1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sub-head{
  font-size: 18px;
  color: black;
}
.main-head{
  font-size: 30px;
  font-family: var(--FS-head);
  color: white;
}
.sub-description{
  color: white;
  font-size: 18px;
}

/* trending it courses  */

.main-explore{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 62px;
  padding: 45px 0px;
  
}
.explore-main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}


/* cunsaltuncy section */
.cunsalt-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #283956;
  /* width: 100%; */
  padding: 80px 80px;
}

.cunsalt-sub-section1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  gap: 56px;

}

.cunsalt-sub-sub-section1{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  gap: 20px;

}

.cunsalt-title{
  font-size: 52px;
  font-family: var(--FS-head);
  color: white;
  text-align: left;
  justify-content: left;
  align-items: left;

}

.cunsalt-subtitle{
  font-size: 18px;
  color: white;
  text-align: left;
  justify-content: left;
  align-items: left;

}

.cunsalt-sub-sub-section2{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  gap: 20px;

}


.Enquire-button{
  
  background-color: #3EADAE;
  padding: auto;
  opacity: 100px;
  color: antiquewhite;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: left;
  width: 174px;

}
.explore-button:hover{
  background-color: #83e1e2;

}

.cunsalt-section img{
  height: 488px;
  width: 631px;

}

/* solution center  */
.solution{
  background-color: white;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  padding: 80px;
}

.solution-section1{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

}

.solution-section2{
  display: flex;
  flex-direction: row;

}

.solution-section2 img{
  height: 314px;
  width: 413px;

}

.solution-title{
  font-size: 52px;
  font-family: var(--FS-head);
  color: #3EADAE;

}

.solution-subtitle{
  font-size: 16px;
  color: #000000;
  opacity: 60%;

}

.solution-section2{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 21px;

}

.solution-sub-section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 28px;

}

.solutionn-sub-sub-section2{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 14px;

}

.solutionn-sub-sub-section2-title{
  font-family: var(--FS-head);
  font-size: 18px;

}

/* contact US */
.contact{
  background-color: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  gap: 63px;
  padding: 80px;

}
.contact-section-1{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contact-section-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 40px;


}
.send-message{
  
  background-color: #3EADAE;
  padding: auto;
  opacity: 100px;
  color: antiquewhite;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: left;
  width: 174px;

}
.send-message:hover{
  background-color: #83e1e2;

}
.contact-sub-section-1-1{
  font-family: var(--FS-head);
  font-size: 52px;
  color: #3EADAE;
}

.contact-sub-section-1-2{
  font-size: 16px;
  color: #000000;
  opacity: 60%;
}
label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%; /* Full width of parent container */
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

textarea {
  resize: none;
  height: 100px; /* Adjust height */
}
input[type="text"]:focus,
textarea:focus {
  border-color: #007BFF; /* Add a focus color, like blue */
}
textarea {
  resize: none;
  height: 100px; /* Adjust height */
}
.contact-sub-section-2-1{
  width: 100%;
}
.contact-sub-section-2-2{
  width: 100%;
}
.contact-sub-section-2-1{
  display: flex;
  flex-direction: column;
  gap: 26px;
}





/* contact us page  */



/* contact section 1 */
.Bcontact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px;
  gap: 80px;
  background-color: white;
}



.Bcontact-section1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.Bcontact-title{
  font-size: 55px;
  font-family: var(--FS-head);
  color: #3EADAE;
}
.Bcontact-subtitle{
  opacity: 60%;
}



.Bcontact-sub-section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Badd{
  color: #3EADAE;
  font-size: 18px;
  font-family: var(--FS-head);
}
.Bsub-add{
  opacity: 60%;
}



.Bcontact-sub-section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Btime{
  color: #3EADAE;
  font-size: 18px;
  font-family: var(--FS-head);
}
.Bsub-time{
  opacity: 60%;
}


/* contactUs page section 2 */

.Acontact{
  padding: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 70px; */
}
.Acontact-section1{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.Acontact-sub-section1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.Acontact-title{
  font-size: 55px;
  font-family: var(--FS-head);
  color: #3EADAE;
}
.Acontact-subtitle{
  opacity: 60%;
}



.Acontact-sub-section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Aadd{
  color: #3EADAE;
  font-size: 18px;
  font-family: var(--FS-head);
}
.Asub-add{
  opacity: 60%;
}



.Acontact-sub-section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Atime{
  color: #3EADAE;
  font-size: 18px;
  font-family: var(--FS-head);
}
.Asub-time{
  opacity: 60%;
}





.contactForm{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 40%;
}


