:root {
    --FS-head: 'Fs Me Heavy';
    --FS: 'Fs Me';
    --FS-Light: 'fs light'
  }
  *{
    margin: 0px;
    padding: 0px;
    font-family: var(--FS);
   }

  .Train{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    padding: 80px;
    align-items: center;
    justify-content: space-between;
    gap: 128px;
}
 .Train img{
    height: 414px;
    width: 414px;
    
 }
 .trainig-section{
    display: flex;
    flex-direction: column;
    gap: 35px;
 }

 .training-sub-section1{
    font-size: 55px;
    font-family: var(--FS-head);
    color: #3EADAE;
    width: 738px;
 }

 .training-sub-section2{
    color: #37474F;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
