*{
    margin: 0px;
    padding: 0px;
    font-family: var(--FS);
}
:root {
    --FS-head: 'Fs Me Heavy';
    --FS: 'Fs Me';
    --c1: #C8A2C8;
    --c2: #AA0144;
    --c3: #550000;
    --c4: #FEFFEB;
    --c5: #FFD700;
}

/* NavBar */

.navbar{
    background-color: rgba(254, 255, 235, 0.63);
    position: sticky;
    top: 0px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: 0.4s;
}
.logo_section img{
    height: 40px;
}
.logo_section{
    font-family: var(--FS-head);
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--c3);
}
.links_section{
    display: flex;
    padding-top: 10px;
    /* gap: 5px; */
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    color: black;
    /* background-color: #0d888a; */
    padding: 0px 20px;
    overflow: hidden;
}
.upper_line{
    height: 5px;
    width: 200%;
    background-color: var(--c5);
    transform: translateX(-200px);
    transition: 0.5s;
}
.link:hover .upper_line{
    transform: translateX(0px);
}
.link:hover{
    color: var(--c3);
}
.link_active{
    font-weight: bolder;
    color: var(--c3);
}

/* footer  */

.footer{
    display: flex;
    background-color: var(--c3);
    color: white;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    padding: 40px 40px;
}
.footer_content{
    display: flex;
    height: 80%;
    justify-content: space-between;
}
.footer_logo_section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    width: 400px;
    height: 100%;
    /* background-color: aqua; */
}
.footer_logo_tagline{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.footer_logo_tagline div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.footer_logo_tagline div img{
    height: 40px;
    padding: 15px;
}
.send_message_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 30px 0px 0px;
}
.footer_input input{
    height: 40px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.footer_input input:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.336) 0px 5px 10px;
}
.footer_links_section{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
    /* background-color: blue; */
}
.footer_subsection_heading{
    font-size: 18px;
    font-family: var(--FS-head);
}
.footer_links{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.useful_link{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.useful_link:hover{
    color: rgb(182, 182, 182);
}
.footer_contact_section{
    width: 400px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    gap: 30px;
    padding-left: 30px;
}
.footer_contact_info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 100%;
}
.footer_contact_info div{
    /* display: flex; */
    flex-direction: row;
    gap: 20px;
}
.footer_contact_info div svg{
    margin-right: 20px;
    height: 20px;
}
.footer_horizontal_line{
    width: 100%;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.575);
}
.footer_icons{
    display: flex;
    justify-content: space-between;
}
.footer_icons div{
    display: flex;
    gap: 20px;
}
/* HomePage Main Section */

.main_bg{
    height: 50vh;
    /* width: 100%; */
    background-image: url('../assets/bg1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 100px 80px 200px 80px;
}
.tag_line{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.tag_line div{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.sub_head{
    font-size: 18px;
    color: white;
}
.main_head{
    font-family: var(--FS-head);
    font-size: 54px;
    color: white;
}
.primary_btn_white{
    background-color: white;
    font-size: 18px;
    border: none;
    padding: 10px 34px;
    border-radius: 5px;
    font-weight: 200;
    color: var(--c3);
    width: auto;
    max-width: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.primary_btn_white:hover{
    background-color: var(--c3);
    color: white;
}
.primary_btn_white:active{
    background-color: #880000;
}
.primary_btn_small{
    background-color: #3EADAE;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 200;
    color: white;
    max-width: 150px;
    cursor: pointer;
    transition: 0.3s;
}
.primary_btn_small:hover{
    background-color: #4dd7da;
}
.primary_btn_small:active{
    background-color: #0d888a;
}

/* who we are section */

.quick_section{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    transform: translateY(-300px);
    transition: 0.3s;
}
.quick_section_card{
    box-shadow: rgb(92, 92, 92) 0px 0px 10px;
    max-width: 370px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 30px;
    padding: 35px 0px;
}
.quick_section_card:hover .quick_section_icon{
    scale: 110%;
    transform: rotate(10deg) translateY(-10px);
}
.quick_section_card:hover .quick_section_card_1{
    color: var(--c3);
}
.quick_section_card:hover .quick_section_card_2{
    opacity: 1;
}
.quick_section_icon{
    background-image: url('../assets/brown_it_training.png');
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    transition: all 300ms cubic-bezier(.47,1.64,.41,.8);
}
.quick_section_card_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--FS-head);
    font-size: 20px;
    color:rgba(85, 0, 0, 0.71);
    transition: 0.3s;
}
.quick_section_card_2{
    width: 70%;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s;
}
.quick_section :hover img{
    transition: 0.3s;
    transform: rotate(-2deg) translateY(0) scale(1.2);
    animation: bounce-rotate 0.7s 1;
}
@keyframes bounce-rotate {
    0% {
      transform: rotate(0deg) translateY(0) scale(1.2); /* Starting position */
    }
    25% {
      transform: rotate(5deg) translateY(-30px) scale(1.2); /* Move up */
    }
    50% {
      transform: rotate(10deg) translateY(0) scale(1.2); /* Back to start */
    }
    75% {
      transform: rotate(-5deg) translateY(-10px) scale(1.2); /* Slight bounce */
    }
    100% {
      transform: rotate(-2deg) translateY(0) scale(1.2); /* Back to start */
    }
  }

.who-we-are-main{
    width: 100%;
    background-color: var(--c4);
    padding: 200px 0px 75px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    border-bottom: 3px solid var(--c3);
  }
.sub1{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.sub-head{
    font-size: 18px;
    color: var(--c3);
  }
.main-head{
    font-size: 30px;
    font-family: var(--FS-head);
    color: var(--c3);
  }
.sub-description{
    color: var(--c3);
    font-size: 18px;
    width: 50%;
    min-width: 550px;
  }
.sub2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* trending it courses 1 */

.main-explore{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 250px;
  }
  .explore-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 50%;
    /* overflow: hidden; */
  }

/* trending courses section */

.trending_courses_main_div{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 60px 0px;
}
.courses_main_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
}
.course_card{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course_img{
    width: 305px;
    height: 233px;
    border-radius: 10px;
    border: #283956 2px solid;
    overflow: hidden;
}
.course_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.course_content{
    width: 407px;
    height: 176px;
    background-color: rgba(40, 57, 86, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 18px;
    color: white;
    backdrop-filter: blur(6px);
    margin-top: -88px;
    transition: 0.3s;
    cursor: pointer;
}
.course_content:hover{
    backdrop-filter: blur(60px);
}
.course_title{
    font-family: var(--FS-head);
    font-size: 20px;
}
.course_description{
    font-size: 16px;
    font-weight: lighter;
}

/* Consultancy Section  */

.consultacy_section_main{
    background-color: var(--c3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}
.consultancy_img{
    width: 500px;
    height: 400px;
    border-radius: 150px 0px 150px 0px;
    border: 5px white solid;
    background-image: url('../assets/consultancy.jpg');
    background-size: 120%;
    background-position: center;
    transition: 0.3s;
}
.consultancy_img:hover{
    background-size: 140%;
}
.consultancy_content_section{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.consultancy_content_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.consultancy_title{
    font-family: var(--FS-head);
    font-size: 52px;
}
.consultancy_des{
    font-weight: lighter;
    font-size: 18px;
}


/* Customer Testimonial Section  */




/* Training Page */

/* main heading */

.main_head_div{
    background-image: url('../assets/bg_main.png');
    background-size: cover;
    width: 100%;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    z-index: -200;
    color: white;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 34px;
    font-family: var(--FS-head);
    gap: 10px;
}
.navigations{
    font-size: 16px;
    font-family: var(--FS);
    font-weight: 100;
    cursor: pointer;
    color: var(--c5);
}
.navigations a{
    text-decoration: none;
    font-family: var(--FS);
    color: var(--c5);
    transition: 0.2s;
}
.navigations a:hover{
    color: #999999;
    letter-spacing: 1px;
}
.description{
    font-size: 16px;
    font-weight: 100;
    width: 35%;
    text-align: center;
}

/* header section  */

.header_section_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: #F2F2F2;
}
.header_section_main svg{
    /* scale: 200%; */
}
.header_section_content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.header_section_heading{
    font-family: var(--FS-head);
    color: #3EADAE;
    font-size: 55px;
}
.header_section_description{
    font-weight: 100;
    opacity: 0.7;
    text-align: justify;
}

/* default heading section  */

.default_heading_section{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    gap: 20px;
    text-align: center;
}
.default_heading{
    font-family: var(--FS-head);
    color: var(--c3);
    font-size: 50px;
}
.default_description{
    font-weight: 100;
}

/* all courses section */

.all_courses_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    margin: 0px 0px 100px 0px;
}
.all_course_card{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.all_course_card_img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-image: url('https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=400,h=280,fit=crop/Y4LJ41ZXZJuQK2E8/short-term-course-3-YbNvKWvq9nCWMNx3.webp');
    background-size: 110%;
    background-color: black;
    background-position: center;
    transition: 0.4s;
}
.all_course_card_img:hover{
    background-size: 120%;
    background-position: center;
}
.all_course_card_head{
    font-family: var(--FS-head);
}
.all_course_card_description{
    font-weight: 100;
}

/* About Us Page  */

.about_logo_section{
    height: 440px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), var(--c4));
    /* background-color: black; */
}
.about_logo_section_bg{
    background-image: url('../assets/about_logo_bg.jpg');
    height: 440px;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
}
.about_logo_section_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 35px;
}
.about_ds_logo{
    height: 160px;
    width: 160px;
    /* background-color: black; */
    background-image: url('../assets/divine_logo.png');
    background-size: 160px;
    background-position: center;
    background-repeat: no-repeat;
}
.about_logo_section_heading{
    font-family: var(--FS-head);
    color: var(--c3);
    font-size: 50px;
}
.about_logo_section_description{
    opacity: 0.7;
}
.why_us_main{
    transform: translateY(-60px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.why_us_card{
    background-color: white;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
    width: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--FS-head);
    color: var(--c3);
    font-size: 20px;
    gap: 10px;
    padding: 3px 10px;
    transition: 0.2s;
}
.why_us_card svg{
    transform: translateY(5px);
}
#icon_transition{
    transition: 0.2s;
}
.why_us_card:hover #icon_transition{
    scale: 115%;
}
.why_us_card:hover path{
    fill: white;
}
.why_us_card:hover{
    background-color: var(--c1);
    color: white;
}
.about_us_info_section{
    padding: 40px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info_heading{
    color: var(--c3);
    font-family: var(--FS-head);
    font-size: 34px;
}
.info_paragraphs{
    font-weight: 100;
    color: var(--c3);
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.vision_mission_main_section{
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.vision_mission_card{
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
    width: 500px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
    border-radius: 12px;
    transition: 0.3s;
    background-color: white;
}
.vision_mission_card:hover{
    background-color: var(--c1);
    color: white;
}
.vision_mission_card:hover path{
    fill: white;
}
.vision_mission_card:hover svg{
    transform: scaleX(-1);
}
.vision_mission_card:hover .info_heading{
    color: white;
}
.vision_mission_card:hover .info_paragraphs{
    color: white;
}
#about_us_last_line{
    padding: 0px 0px 100px 0px;
    text-align: center;
    color: var(--c3);
    font-weight: 100;
}

/* Services Page */

.service_card{
    display: flex;
    /* width: 100%; */
    padding: 70px 40px;
    background-color: #0d888a;
    gap: 40px;
    transition: 0.4s;
}
.service_img_and_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    gap: 20px;
}
.service_img{
    height: 300px;
    width: 330px;
    background-color: black;
}
.service_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 7px;
}
.service_name_heading{
    font-family: var(--FS-head);
    color: var(--c3);
    font-size: 26px;
}
.service_name_description{
    font-weight: 100;
}
.service_card_details{
    background-color: #E7E7E7;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    transition: 0.4s;
}
.service_card_animation_div{
    background-color: red;
    height: 100%;
    width: 200px;
    position: absolute;
    float: right;
    right: 40px;

}
/* .service_card:hover{
    background-color: var(--c1);
}
.service_card:hover .service_card_details{
    border-radius: 0px;
    background-color: var(--c1);
} */




@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    .main_bg{
        background-size: 100% 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .tag_line{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .sub_head{
        font-size: 14px;
    }
    .main_head{
        font-size: 38px;
        font-weight: bold;
    }
    .side_image img{
        height: 350px;
        width: 350px;
    }

    .quick_section{
        flex-direction: column;
        transform: translateY(-240px);
        gap: 30px;
    }
    .who-we-are-main{
        height: 550px;
        justify-content: end;
        padding: 200px 0px 75px 0px;
    }
    .sub2{
        background-color: red;
        width: 50%;
    }
    .sub-description{
        width: 500px;
        background-color: blue;
    }
}